
<div class="stats">
    <img src="../../../assets/imgs/Statistics.svg" alt="">

</div>




<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mt-4">
          <h1 class="text-left">Transactions</h1>
        
        </div>
        <hr />
        <table class="table table-striped">
          <thead class="bg-light">
            <tr>
              <th>Date</th>
              <th>TransactionID</th>
              <th>name</th>
              <th>Region</th>
              <th>Bar/Club</th>
              <th>Retail value</th>
              <th>Status</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of " class="data">
              <td>
                <div class="ms-3">
                  <p class="fw-bold mb-1">12/12/1999</p>
                </div>
              </td>
              <td class="d-flex align-items-center" style="max-width: 200px">
                <p class="fw-normal mb-1">hghgggggg</p>
              </td>
              <td>
                <span class="badge badge-success rounded-pill d-inline">
                </span>
                <ng-template class="badge badge-danger rounded-pill d-inline" #stock>
                </ng-template>
              </td>
              <td>ytyyyyyy</td>
              <td>tttttttttttttt</td>
              <td>
            
              </td>
            </tr>
          </tbody>
        </table>
        
        
      </div>
    </div>
  </div>